//color scheme
$primary-col: #ff9900;
$secondary-col: #146eb4;
//form
$form-heading-col: #333;
//bottons
$button-primary-col: #fff;
$button-primary-bg: $primary-col;
$button-secondary-col: #000;
$button-secondary-bg: #cdcdcd;
//link
$link-col: $secondary-col;
$link-hover-col: $primary-col;
